* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f3f6ff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  width: 380px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.49);
  overflow: hidden;
  margin: 15px;
}

/* Cover */
.cover {
  height: 140px;
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid white;
  border-radius: 20px;
}

/* Content */
.content {
  padding: 60px 24px 24px;
  position: relative;
}

/* Avatar */
.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  position: absolute;
  top: -45px;
  left: 24px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  font-size: 22px;
  font-weight: 700;
}

.username {
  color: #7b7b7b;
  font-size: 14px;
}

/* Follow Button */
.follow-btn {
  padding: 8px 20px;
  background: #0066ff;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.follow-btn:hover {
  background: white;
  color: #0066ff;
  border: 1px solid #0066ff;
}

/* Bio */
.bio {
  margin-top: 16px;
  color: #6a6a6a;
  font-size: 15px;
  line-height: 1.5;
}

/* Stats */
.stats {
  margin-top: 20px;
  display: flex;
  gap: 28px;
  font-size: 15px;
  color: #555;
}

.stats strong {
  color: #000;
}

/* Links */
.links {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.links div {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #6b6b6b;
}

.links a {
  color: #0a66ff;
  text-decoration: none
}
