@font-face {
    font-family: F1;
    src: url(bloodcrow.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
    height: 100%;
    background-image: url(https://images.alphacoders.com/136/thumb-1920-1363137.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 80px;
}

h1 {
    color: black;
    font-size: 100px;
    font-weight: 100;
    padding: 30px;
    font-family: F1;
}

button{
  font-size: 30px;
  padding: 20px 40px;
  color: #FFFFFF;
  background-color: #B11226;
  border: none;
  font-weight: 600;
  border-radius: 10px;
  font-family: F1;
}

button:hover{
    background-color: #FFFFFF;
    color: #8E0E1D;
    cursor: pointer;
    transform: scale(1.05);
}